.text {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.h1 {
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.h2 {
  color: #555;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.p {
  color: #333;
  font-size: 1rem;
  line-height: 1.5;
}

.span {
  color: inherit;
  font-size: inherit;
}